.input{
    color: black;
    background-color: #fbd007;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 0px 2px;
}

.boton{
    color: #fbd007 !important;
}

.boton_carrito{
    color: black !important;
    background-color: #fbd007 !important;
    font-weight: 600 !important;
    padding: 5px 25px  !important;
}

.grid{
    padding: 15px 30px;
    border: dotted 1px #fbce0765;
    box-shadow: 1px 1px 1px black;
    background: linear-gradient(0deg, rgb(42, 34, 2) 5%, rgb(26, 25, 23) 90%);
}

.MuiInput-input{
    text-align: center;
}
.Mui-disabled{
    text-align: center;
    color: black;
    background-color: #fbd007;
}
